# editor
.idea
.vscode
.cursor
*.code-workspace
*.suo
*.ntvs*
*.njsproj
*.sln
*.svd
*.userprefs
*.csproj
*.pidb
*.user
*.unityproj
*.booproj
ExportedObj/
*.xcuserstate

# misc
*.DS_Store

# logs
logs
*.log

# runtime data
pids
*.pid
*.seed
*.pid.lock
